<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>UsuarioServlet</servlet-name>
        <servlet-class>Agrosoft.servlet.UsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArticuloServlet</servlet-name>
        <servlet-class>Agrosoft.servlet.ArticuloServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistorialMedicoServlet</servlet-name>
        <servlet-class>Agrosoft.servlet.HistorialMedicoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientesServlet</servlet-name>
        <servlet-class>Agrosoft.servlet.ClientesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProveedorServlet</servlet-name>
        <servlet-class>Agrosoft.servlet.ProveedorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MascotasServlet</servlet-name>
        <servlet-class>Agrosoft.servlet.MascotasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Autenticacion</servlet-name>
        <servlet-class>Agrosoft.servlet.Autenticacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VentasServlet</servlet-name>
        <servlet-class>Agrosoft.servlet.VentasServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsuarioServlet</servlet-name>
        <url-pattern>/UsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArticuloServlet</servlet-name>
        <url-pattern>/ArticuloServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistorialMedicoServlet</servlet-name>
        <url-pattern>/HistorialMedicoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientesServlet</servlet-name>
        <url-pattern>/ClientesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProveedorServlet</servlet-name>
        <url-pattern>/ProveedorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MascotasServlet</servlet-name>
        <url-pattern>/MascotasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Autenticacion</servlet-name>
        <url-pattern>/Autenticacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VentasServlet</servlet-name>
        <url-pattern>/VentasServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
